<Article >
    <h2>Educación</h2>
    <div  class=" d-flex justify-content-center " *ngIf="isAdmin.length >1">
      <button type="button" class="btn btn-primary" routerLink="/newEducation"><i class="bi bi-plus-circle"></i></button>
    
  </div>
  <div class="d-flex edu" *ngFor="let ed of edu" style="background: transparent !important;">
  <div class="accordion justify-content-center edu-ac col-12" id="accordionExample" >
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#Education" aria-expanded="true" aria-controls="collapseOne" style="background: transparent;">
         {{ed.eduI}}
        </button>
      </h2>
      <div id='Education'  class="accordion-collapse collapse show" data-bs-parent="#accordionEdu" style="background-color: transparent; color: blueviolet;">
        <div class="accordion-body">
          <h3>Titulo</h3>
          <p><b>{{ed.eduI}} </b></p>
          <h3>Fecha</h3>
          <p><b>{{ed.eduDI}} - {{ed.eduDF}} </b> </p>
          <h3>Descripción</h3>
          <p><b>{{ed.eduDesc}} </b> </p>
          
        </div>
        <div *ngIf="isAdmin.length >1">
          <button type="button" class="btn btn-success" routerLink="/editEducation/{{ed.id}}"><i class="bi bi-pencil-square"></i></button>
  <button type="button" class="btn btn-danger" (click)="delete(ed.id)"><i class="bi bi-trash3"></i></button>
      
        </div>
        </div>
    </div>
    
  </div>  
  </div>
  
</Article>
