<div class="row vh-100" >  <div class="container col-6" style="border: 5px solid #000000 ; border-radius: 10px;" *ngIf="exp">
    <form (ngSubmit)="onEdit()" novalidate #f="ngForm">
      <div class="form-outline ">
        <label class="form-label" for="nameE">Nombre de la Empresa</label>
        <input type="text" id="nameE" class="form-control" name="nameE" [(ngModel)]="exp.nameE" required />

      </div>

      <div class="form-outline">
        <label class="form-label" for="dateI">Fecha de ingreso</label>
        <input type="date" id="dateI" class="form-control" name="dateI" [(ngModel)]="exp.dateI" required />

      </div>

      <div class="form-outline">
        <label class="form-label" for="dateF">Fecha de egreso</label>
        <input type="date" id="dateF" class="form-control" name="dateF" [(ngModel)]="exp.dateF" required />

      </div>
      <div class="form-outline">
        <label class="form-label" for="descE">Ocupación</label>
        <input type="text" id="descE" class="form-control" name="descE" [(ngModel)]="exp.descE" required />

      </div>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
    </form>

  </div>
</div>